body {
  min-width: 375px;
}

header {
  background-image: url("img/bg-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 300px;
  /* background-color: #202020; */
}

.itd-nav-wrapper {
  background-color: #202020;
  color: #ffffff;
  padding: 40px 130px;
}

.itd-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 0;
  margin: 0 10px;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

.itd-nav:hover {
  color: gray;
}

.itd-active {
  font-size: 20px;
}

.itd-logo {
  font-weight: bold;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 72px;
  font-weight: 700;
  margin-top: 25px;
}

header p {
  max-width: 400px;
  margin: 25px auto 65px;
  font-weight: 400;
}

.itd-btn {
  text-decoration: none;
  color: #272142;
  background: #ffffff;
  text-transform: uppercase;
  padding: 18px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 14px;
  border-radius: 50px;
}

.itd-btn:hover {
  color: #ffffff;
  background-color: grey;
}

.main {
  background-color: #1b1b1b;
  padding: 100px;
}

.itd-val {
  display: flex;
  align-items: center;
}

.itd-rights {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.itd-footer-nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

.itd-footer-nav a:hover {
  color: grey;
}

.itd-about {
  background-color: #1b1b1b;
}

.itd-description {
  padding: 30px 140px 30px 40px;
}

.itd-description-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #f65282;
}

.itd-description h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}

.itd-description p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
}

.itd-icon {
  margin-top: 20px;
}

.itd-icon a {
  font-size: 18px;
  color: #ffffff;
  margin-right: 30px;
}

.itd-icon a:hover {
  color: grey;
}

.itd-camera-wrapper {
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: #2d2727;
  padding: 20px;
  display: flex;
  align-items: center;
  width: max-content;
}

.itd-camera-description {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .itd-nav-wrapper {
    padding: 15px;
  }

  h2 {
    font-size: 44px;
  }

  header p {
    max-width: 300px;
  }

  .main {
    padding: 20px;
  }
}
